body, html {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: transparent;
}
header {
  width: 100%;
  position: absolute;
  background-color: transparent;
  text-align: center;
  padding: 0;
  margin: 0;
}
nav {
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  text-transform: uppercase;
  font-weight: 700;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .fas {
  padding-bottom: 15px;
  padding-top: 15px;
  cursor: pointer;
}
nav ul {
  position: absolute;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  cursor: pointer;
}
nav li {
  font-size: 20px;
  display: inline-block;
  padding: 20px 20px 0px 20px;
}
nav li:hover, nav li:active, nav h5:hover, nav h5:active, nav .fas:hover, nav .fas:active{
  font-size: 23px;
  transition-duration: .2s;

}
nav div {
  cursor: pointer;
  padding: 0;
  background-color: white;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav h5 {
  font-size: 20px;
  position: absolute;
}
.circle {
  width: 180px;
  height: 180px;
  line-height: 180px;
  margin: -90px 0px 0px 0px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transition-duration: .8s;
}
.full {
  width: 100%;
  height: 100px;
  line-height: normal;
  padding: 0;
  margin: 0px 0px 0px 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition-duration: .8s;
}
.hidden {
  display: none;
}
div.container {
  width: 100%;
  height: 100vh;
  scroll-snap-type: mandatory;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
.container > div {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 30px;
}
.section h1 {
  padding-top: 20px;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
#intro h2 {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 100;
}
h2:not(.subtitle) {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
}
#intro span {
  letter-spacing: 6px;
}
h4 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 100;
}
div#intro {
  background-color: #F6EEA4;
}
div#services {
  clear: both;
  background-color: #BDE4F1;
}
.left {
  width: 60%;
  float: left;
}
.right {
  width: 40%;
  float: right;
}
aside ul > li {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  padding: 5%;
  margin: 15px;
  text-align: left;
  border: 1px solid black;
}
div#about {
  background-color: #EDB5B5;
}
div#contact {
  color: white;
  background-color: #393535;
}
