@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0 auto;
    background-color: transparent;
}
header {
  width: 100%;
  position: absolute;
  background-color: transparent;
  text-align: center;
  padding: 0;
  margin: 0;
  z-index: 100;
}
nav {
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  text-transform: uppercase;
  font-weight: 700;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .fas {
  padding-bottom: 15px;
  padding-top: 15px;
  cursor: pointer;
}
nav ul {
  position: absolute;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  cursor: pointer;
}
nav li {
  font-size: 20px;
  display: inline-block;
  padding: 20px 20px 0px 20px;
}
nav li:hover, nav li:active, nav h5:hover, nav h5:active, nav .fas:hover, nav .fas:active{
  font-size: 23px;
  transition-duration: .2s;

}
nav div {
  cursor: pointer;
  padding: 0;
  background-color: white;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav h5 {
  font-size: 20px;
  position: absolute;
}
.circle {
  z-index: 100;
  width: 180px;
  height: 180px;
  line-height: 180px;
  margin: -90px 0px 0px 0px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transition-duration: .8s;
}
.full {
  width: 100%;
  height: 100px;
  line-height: normal;
  padding: 0;
  margin: 0px 0px 0px 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition-duration: .8s;
}
.hidden {
  display: none;
}
.container {
  bottom:0;
  left:0;
  position:absolute;
  right:0;
  top:0;
}
.section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  margin: 0;
  padding: 30px;
  clear: both;
}
section {
  width: 100%;
  clear: both;
}
div#intro {
  background-color: #F6EEA4;
}
div#services {
  clear: both;
  background-color: #BDE4F1;
}
div#about {
  background-color: #EDB5B5;
}
div#contact {
  color: white;
  background-color: #393535;
}
.section h1 {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
#intro h2 {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 100;
}
h2:not(.subtitle) {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
}
#intro span {
  letter-spacing: 6px;
}
h4 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 100;
}
.left {
  width: 60%;
  float: left;
}
.right {
  width: 40%;
  float: right;
}
.left_center {
  width: 50%;
  float: left;
}
aside.center {
  text-align: center;
}
.right_center {
  width: 50%;
  float: right;
}
.section_image {
  width: 50%;
  padding-top: 20px;
}
section h3, section p, section div {
  clear: both;
}
aside ul > li {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  padding: 5%;
  margin: 15px;
  text-align: left;
  border: 1px solid black;
}
#creativity {
  padding-top: 10px;
  margin-bottom: 10px;
  max-height: 300px;
}
.copyright {
  font-size: 12px;
  font-weight: 100;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 16px;
  font-weight: 200;
}
@media only screen and (max-width: 550px) {
  #creativity, aside.center {
    display: none;
  }
  #services_list, #services_blurb, aside.text {
    width: 100%;
  }
  #services_list li {
    font-size: 14px;
    height: 15px;
    padding: 5px;
    margin: 5px;
  }
  #services_list ul {
    padding: 0;
    margin: 0;
  }
  .extra {
    display: none;
  }
}
